.footer {
    width: 100%;
    background-color: #31283C;
    padding-bottom: 55px;

    @media screen and (max-width: 960px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        margin-top: 100px;
    }
}


.footer-navbar {
    display: flex;
    align-content: space-between;
    height: 120px;
    align-items: center;
    padding: 0 20px;
    
    @media screen and (max-width: 960px) {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 30px;
        margin-bottom: 60px;
    }
}

.footer__logo {
    margin-right: 190px;
    
    @media screen and (max-width: 1440px) {
        margin-right: 50px;
    }
    @media screen and (max-width: 1440px) {
        margin-right: 5px;
    }
    @media screen and (max-width: 960px) {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0 auto;
    }
}

.footer-navbar__links {
    margin-right: auto;

    @media screen and (max-width: 960px) {
        margin: 0 auto;
    }
}

.footer-navbar__links ul {
    display: flex;

    @media screen and (max-width: 960px) {
        flex-direction: column;
        text-align: center;
    }
}

.footer-navbar__links li {
    list-style: none;
    @media screen and (max-width: 960px) {
        padding: 10px 0;
    }
}

.footer-navbar__link:link,
.footer-navbar__link:visited {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    margin-right: 37px;
    
    @media screen and (max-width: 1440px) {
        margin-right: 14px;
    }
}

.footer-navbar__link:hover {
    border-bottom: 2px solid #98BAED;
}

.footer-navbar__contacts {
    display: flex;

    @media screen and (max-width: 1620px) {
        padding-right: 10px;
    }
    @media screen and (max-width: 980px) {
        flex-direction: column;
        margin: 0 auto;
    }
}

.footer-navbar__cont-item {
    display: flex;
    align-items: center;
    margin-left: 36px;
    
    @media screen and (max-width: 1440px) {
        margin-left: 5px;
    }
}

.footer-navbar__icon {
    width: 24px;
    height: 17px;
    margin-right: 10px;
}

.footer-navbar__contact-link:link,
.footer-navbar__contact-link:visited {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
}

.footer__info {
    display: flex;
    align-items: center;

    @media screen and (max-width: 960px) {
        margin-top: 200px;
        padding-top: 50px;
        flex-direction: column;
        width: 100%;
    }
}

.footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FAFAFA;
    margin-right: auto;
    padding: 0 20px;
    text-align: center;
    @media screen and (max-width: 1620px) {
        margin-right: 0;
    }
}

.footer__icons {
    align-self: flex-start;
    margin-top: -20px;
    padding-right: 10px;
    
    @media screen and (max-width: 1620px) {
        padding-right: 30px;
    }
    @media screen and (max-width: 1620px) {
        align-self: flex-start;
        margin-top: 0;
        padding: 20px 0 0 20px;
        padding-right: 0;
        padding-left: 20px;
        padding-top: 20px;
    }
    @media screen and (max-width: 960px) {
        margin: auto;
    }
    
}

.footer__icons > *:not(:last-child) {
    margin-right: 15px;
}

.footer__icons > *:hover {
    cursor: pointer;
}
