.fuatures {
    padding-top: 95px;
    padding-bottom: 120px;
    
    @media screen and (max-width: 960px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.fuatures__items {
    padding-top: 95px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    
    @media screen and (max-width: 1620px) {
        padding-top: 50px;
    }
    @media screen and (max-width: 1480px) {
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        gap: 20px 40px;
    }
    @media screen and (max-width: 770px) {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 20px 40px;
    }
    @media screen and (max-width: 510px) {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        gap: 20px 40px;
    }
}

.fuatures__item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    
}
.fuatures__img-container {
    margin-bottom: 21px;
}

.fuatures__image {
    max-width: 170px;
    max-height: 170px;
    display: block;
    margin: auto;
}

.fuatures__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #31283C;
}
